<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products in Stock</title>
</head>
<body>
    <div>
        <div>
            <input type="search" name="Search..." id="searchbar">
            <input type="checkbox" name="show_product" id="show_product"> <span> Only show products in stock</span>
        </div>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Sporting Goods</td>
                </tr>
                <tr>
                    <td>Football</td>
                    <td>$49.99</td>
                </tr>
                <tr>
                    <td>Baseball</td>
                    <td>$9.99</td>
                </tr>
                <tr>
                    <td>Basketball</td>
                    <td>$29.99</td>
                </tr>
                <tr>
                    <td>Electronics</td>
                </tr>
                <tr>
                    <td>iPod Touch</td>
                    <td>$99.99</td>
                </tr>
                <tr>
                    <td>iPhone 5</td>
                    <td>$399.99</td>
                </tr>
                <tr>
                    <td>Nexus 7</td>
                    <td>$199.99</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>